---
export interface Props {
    title: string;
    subtitle: string;
    back: string;
    description: string;
    link: string;
    download: string;
    image: ImageMetadata;
}
const { title, subtitle, back, description, link, download, image } =
    Astro.props;
---

<script is:inline>
    window.addEventListener("scroll", () => {
        const btn = document.getElementById("scrollToTopBtn");
        if (window.scrollY > 300) {
            btn.classList.remove("hidden");
        } else {
            btn.classList.add("hidden");
        }
    });
</script>

<div class="pb-3w-full pb-3">
    <!-- Centered content area with margin on sides -->
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="">
            <div
                class="prose max-w-none
                       prose-img:rounded-xl
                       prose-p:text-justify
                       prose-p:text-md-text dark:prose-p:text-md-text-dark
                       prose-h1:text-md-heading dark:prose-h1:text-md-heading-dark
                       prose-h2:text-md-heading dark:prose-h2:text-md-heading-dark
                       prose-h3:text-md-heading dark:prose-h3:text-md-heading-dark
                       prose-h4:text-md-heading dark:prose-h4:text-md-heading-dark
                       prose-a:text-md-heading-dark
                       prose-a:hover:text-md-link-hover-dark
                       prose-li:marker:text-md-bullet dark:prose-li:marker:text-md-bullet-dark
                       prose-blockquote:text-md-blockquote-border dark:prose-blockquote:text-md-blockquote-border-dark
                       prose-strong:text-md-strong dark:prose-strong:text-md-strong-dark
                       prose-"
            >
                <div
                    class="bg-gray-100 dark:bg-gray-900 flex items-center justify-center py-16 px-4"
                >
                    <div
                        class="max-w-3xl w-full bg-white dark:bg-gray-800 p-8 rounded-xl shadow-lg"
                    >
                        <!-- App Logo and Title Section -->
                        <div
                            class="flex flex-col items-center mb-8 no-localization"
                        >
                            <!-- App Logo -->
                            <img
                                src={image.src}
                                alt="App Logo"
                                class="w-32 h-32 object-contain mb-4"
                            />

                            <!-- App Title -->
                            <h1
                                class="text-3xl font-semibold text-md-heading dark:text-md-heading-dark mb-2"
                            >
                                {title}
                            </h1>

                            <!-- App Subtitle -->
                            <h2
                                class="text-xl text-md-text dark:text-md-text-dark mb-4"
                            >
                                {subtitle}
                            </h2>
                        </div>

                        <!-- App Description Section -->
                        <p
                            class="text-lg text-md-text dark:text-md-text-dark mb-6 text-center"
                        >
                            {description}
                        </p>

                        <!-- Google Play Store Link -->
                        <div class="text-center">
                            <a
                                href={link}
                                target="_blank"
                                class="inline-block px-6 py-3 bg-tabbar-primary dark:bg-tabbar-primary-dark rounded-lg hover:bg-tabbar-hover-primary dark:hover:bg-tabbar-hover-primary-dark transition-all duration-300"
                            >
                                {download}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
