---
import markImage from '../assets/mark.svg';
import meImage from '../assets/me.jpg';
import clsx from 'clsx';

type Link = {
  name: string;
  href: string;
  dropdown?: { name: string; href: string }[];
};

const links: Link[] = [
  { name: "Main Menu", href: "/" },
  { name: "Check-It", href: "/check-it/check-it", dropdown: [
    { name: "Privacy Policy", href: "/check-it/privacy-policy" },
    { name: "Terms & Conditions", href: "/check-it/terms-conditions" },
    { name: "Delete Account", href: "/check-it/delete-account" }
  ]},
  { name: "FrancoQuiz", href: "/francoquiz/francoquiz", dropdown: [
    { name: "Privacy Policy", href: "/francoquiz/privacy-policy" },
    { name: "Terms & Conditions", href: "/francoquiz/terms-conditions" }
  ]},
  { name: "Contact", href: "/contact/" }
];

const currentPath = Astro.url.pathname;

// Determine the active tab
let activeTab = "";
if (currentPath.startsWith("/check-it/") || currentPath.startsWith("/fr/check-it/") || currentPath.startsWith("/en/check-it/")) {
    activeTab = "Check-It";
} else if (currentPath.startsWith("/francoquiz/") || currentPath.startsWith("/fr/francoquiz/") || currentPath.startsWith("/en/francoquiz/")) {
    activeTab = "FrancoQuiz";
} else if (currentPath.startsWith("/contact/") || currentPath.startsWith("/fr/contact/") || currentPath.startsWith("/en/contact/")) {
    activeTab = "Contact";
} else {
    activeTab = "Main Menu";
}
---
<style>
  @keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
  }
  .pop-hover {
    display: inline-block;
  }
  .no-pop-hover {
    display: inline-block;
  }

  .pop-hover:hover {
    animation: pop 0.3s ease-in-out;
  }
</style>

<nav class="bg-navbar dark:bg-navbar-dark ">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile menu button -->
      <button
        type="button"
        class="absolute inset-y-0 left-0 flex items-center sm:hidden p-2 text-gray-400 hover:bg-gray-700 hover:text-white z-20"
        onclick="toggleMenu()"
      >
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="1.5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>


      <!-- Desktop Menu -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start z-10" >

        <img
              class="h-8 w-8"
              src={markImage.src}
              alt="Pierre Mollard Image Logo"
          />
      
        <div class="hidden sm:ml-6  sm:flex sm:items-center ">
            <div class="hidden sm:flex space-x-4">
                {links.map((link: Link) => (
                  <div class="relative group">
                    <a
                      href={activeTab === link.name ? undefined : link.href}
                      class={clsx("relative px-3 py-2 text-sm font-medium rounded-md", activeTab === link.name
                          ? "bg-navbar-menu-bg-active dark:bg-navbar-menu-bg-active-dark text-navbar-menu-text-active dark:text-navbar-menu-text-active-dark no-pop-hover pointer-events-auto cursor-default"
                          : "text-navbar-menu-text dark:text-navbar-menu-text-dark hover:bg-navbar-menu-bg-hover dark:hover:bg-navbar-menu-bg-hover-dark hover:text-navbar-menu-text-hover dark:hover:text-navbar-menu-text-hover-dark transition-all duration-200 ease-in-out pop-hover")}
                    >
                      {link.name}
                      <span class="absolute inset-0 -m-2"></span> 
                    </a>
                  <!-- Dropdown -->
                  {link.dropdown && (
                    <div class="absolute left-0 w-48 mt-2 bg-navbar-dropdown-bg dark:bg-navbar-dropdown-bg-dark text-on-surface dark:text-on-surface-dark rounded-md shadow-lg opacity-0 scale-95 transition-all duration-200 ease-in-out 
                   pointer-events-none group-hover:opacity-100 group-hover:scale-100 
                   group-hover:pointer-events-auto z-20">
                      {link.dropdown.map(sub => (
                        <a href={sub.href} class="block px-4 py-2 text-sm hover:bg-navbar-dropdown-bg-500 dark:hover:bg-navbar-dropdown-bg-500-dark rounded-md transition-all duration-200 ease-in-out">{sub.name}</a>
                      ))}
                    </div>
                  )}
                </div>
              ))}
            </div>
          </div>

      </div>

      <!-- Profile -->
      <div class="relative">
        <a href="/contact/" class="flex rounded-full focus:ring-2 focus:ring-navbar-menu-bg-active dark:focus:ring-navbar-menu-bg-active-dark z-20">
          <img class="size-8 rounded-full" src={meImage.src} alt="Profile" />
        </a>
      </div>

    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="sm:hidden hidden px-2 pt-2 pb-3 space-y-1 z-20">
    {links.map((link: Link) => (
      <a
        href={link.href}
        class={clsx("block rounded-md px-3 py-2 text-base font-medium", activeTab === link.name
            ? "bg-gray-900 text-white"
            : "text-gray-300 hover:bg-gray-700 hover:text-white")}
      >
        {link.name}
      </a>
    ))}
  </div>
</nav>

<!-- JavaScript -->
<script is:inline>

  function toggleMenu() {
    const mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenu)
    mobileMenu.classList.toggle("hidden");
  }
</script>
